* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* header.styles.scss */
$primary-color: #f4867c;
$secondary-color: #f1d08a;
$text-color: #363535;
$background-color: #355c7d;
$hover-color: #6c5b7b;
$button-hover-bg: #c06c84;
$button-hover-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.2);
$font-family: "Roboto", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.container {
  font-family: $font-family;
}

.header {
  background-color: $background-color;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px $shadow-color;

  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    .nav-item {
      display: inline-block;
      margin: 0 15px;
      font-size: 18px;
      color: $text-color;
      background-color: $secondary-color;
      padding: 10px 20px;
      border-radius: 25px;
      transition: all 0.3s ease;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700;
      box-shadow: 0 4px 6px $shadow-color;

      &:hover {
        background-color: $button-hover-bg;
        color: $button-hover-color;
        box-shadow: 0 6px 12px $shadow-color;
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(0);
        box-shadow: 0 4px 8px $shadow-color;
      }
    }
  }
}
